.form{
    margin-top: 14%;
}

.blank {
    margin-right: 2%;
    height: 30px;
    width: 250px;
    border: 2px solid rgb(143, 135, 113);
    border-radius: 3px;
}

.sub-btn {
    /* height: 160px; */
    width: 40px;
}